.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slide-img{
  object-fit: cover;
}

.welcome-screen{
  text-align: center;
  margin-top: 30px;
}

.welcome-screen h1{
  font-size: 45px;
}

.welcome-screen p{
font-size: 22px;
}

.auth-form > div{
  display:  flex;
  align-items: center;
}

.auth-form > div > label{
  min-width: 100px;
  text-align: right;
  margin-right: 10px;
}

.features-boxed .products img{
  max-height: 350px;
}

.features-boxed{
  margin: 12px;
}

.features-boxed .container{
  height: 100%;
  margin: 0;
}

.img-wrap{
  width: 200px;
  height: 200px;
  margin: 16px auto;
  overflow: hidden;
  border-radius: 50%;
}

.img-wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details{
  text-align: center;
}

.profile-details p{
  margin-bottom: 0;
}
