.nav-bar {
    background-color: rgba(7, 45, 34, 0.797);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.navbar-brand {
    color: #ffffff;
    font-size: 30px !important;
    background-color: transparent !important;
    color: #ffffff !important;
}

a.navbar-brand {
    color: #ffffff
}

.navbar-toggler {
    border: none;
}

.nav-link {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(7, 45, 34, 0.797);
}

.nav-link.active,
.nav-link:hover {
    color: #ffffff;
    box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
    color: white !important;
}

.navbar-nav {
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Cart button style */
.btn-outline-dark {
    color: #ffffff;
    border-color: #343a40;
}

.btn-outline-dark:hover {
    color: black;
    border-color: #ffffff;
}

.container {
    color: rgba(94, 42, 4, 0.614);
}