:root {
    
}

* {
    background-color: #fff;
}

p {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: rgb(36, 35, 35);
    font-family: 'Abel', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Staatliches', cursive;

}

h3 {
    color:rgb(7, 45, 34)
}

  .flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .category-menu {
    text-align: center;
    margin-top: 50px;
  }
  
  .category-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .category-buttons button {
    background-color: rgba(7, 45, 34, 0.719) !important;
  border: none !important;
  color: white !important;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .category-buttons {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .category-buttons button:hover {
    background-color: rgba(7, 45, 34, 1) !important;
    color: white !important;
  }
  
  
  